body{
    font: Arial, sans-seriff;
    font-size: large;
    border: aquamarine, ;
    margin: 25px,50px, 25px, 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
    gap: 10px;
    max-width: 1200px;
    width: 100%;
    padding: 10px;
}

.gallery img{
    width: 90%;
    height: auto;
    transition: transform 0.2s;
}

.text-style{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20;
    align-items: center;
}

.h1{
    font: lexend;
}
